<!DOCTYPE html>
<html>
<head>
  <title>Generator</title>
  <link rel="stylesheet" href="./css/style.css" type="text/css" media="screen"/>
  <script type="text/javascript" src="./js/jquery.js"></script>
  <script type="text/javascript" src="./js/index.js"></script>
</head>
<body>
<div id="banner">
	<b style="padding-top: 5">Test-case generator</b>
</div>

<%= yield %>

<div id="info">
	<a href="mailto:qa@epocware.com?subject=TestCaseGenerator">email</a>
</div>

</body>
</html>
